.footer-heading {
    font-size: 2.6rem;
    color: $second-text-color;
}

@media screen and (max-width: 1024px) {
    .footer-heading {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .footer-heading {
        font-size: 1.6rem;
    }
}