$main-text-color: #000;
$second-text-color: #fff;
$third-text-color: #474747;
$fourth-text-color: #B1B1B1;
$button-color: #fff;
$second-button-color: #000;
$decoration-color: #D8D5D5;
$header-color: rgba(0, 0, 0, .42);
$section-color: #F3F7EA;
$footer-color: #262626;
$accent-color: #FFA60D;
$first-sticker-color: #D33B3B;
$second-sticker-color: #B3E151;
$third-sticker-color: #E5A434;